<!-- your html code here -->
<section class="container p-3 d-flex justify-content-center row m-5 border-top border-secondary-subtle">
    <div class="col-9 pt-5">
      <p class="fs-1 d-inline p-3">This First Heading</p>  <p class="fs-1 d-inline text-secondary">Will Catch You Eye </p>
      <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in v in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
    <div class="col-3 pt-5" style="height: 300px;">
      <img src="https://www.shutterstock.com/image-vector/beirut-lebanon-february-21-2023-600nw-2265041595.jpg" alt="" class="img-fluid rounded-circle">
    </div>
</section>        
