<!-- your html code here -->
<div class="container m-5">
  <div class="row">
    <div class="col-10">
      <h3>
        The First Heading
        <small class="text-body-secondary">Will Catch Your Eye</small>
      </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
    <div class="col-2">
      <img src="https://www.shutterstock.com/image-vector/beirut-lebanon-february-21-2023-600nw-2265041595.jpg" alt="" class="img-fluid rounded-circle">
    </div>
  </div>
</div>        
